<body class="container">
<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
    <img
      src="https://scontent.fuio2-1.fna.fbcdn.net/v/t1.0-9/36890864_2023880064348768_1598154453213511680_n.jpg?_nc_cat=0&oh=efc672e16401378675b9da0a6a121afe&oe=5BE47A76"
      class="rounded float-right" alt="..." width="30" height="30">
  </div>
  <div class="col-sm-2">Gabriela Cuascota</div>
  <div class="col-sm-12">
    <br>
    <br>
    <h3>Atributo Papá</h3>
  </div>
  <div class="col-sm-12">
    <br>
    <br>
    <h3>Modelos Hijo</h3>
  </div>
  <div class="col-sm-3">POKEMON1
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
            alt="POKEMON1" width="100" height="100">
        </div>
        <div class="col-sm-6">Bulbasaur
          <div class="col-sm-12">5.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON2
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette.wikia.nocookie.net/pokemon/images/9/95/Charmander-GO.png/revision/latest?cb=20160809154953"
            alt="POKEMON2" width="100" height="100">
        </div>
        <div class="col-sm-6">Charmander
          <div class="col-sm-12">7.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON3
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette.wikia.nocookie.net/nintendo-lastchance/images/1/15/SQUIRTLUSA.png/revision/latest?cb=20150607222430"
            alt="POKEMON3" width="100" height="100">
        </div>
        <div class="col-sm-6">Squirtle
          <div class="col-sm-12">3.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON4
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://pm1.narvii.com/6517/16b20f8a9cce0feab06248fee6c7d1199c38491c_hq.jpg"
            alt="POKEMON4" width="100" height="100">
        </div>
        <div class="col-sm-6">Chikorita
          <div class="col-sm-12">9.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON5
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette.wikia.nocookie.net/sonic-pokemon-unipedia/images/e/e1/185_bayleef_dreams_by_gaghiel1987.png/revision/latest?cb=20140509191758"
            alt="POKEMON5" width="100" height="100">
        </div>
        <div class="col-sm-6">Bayleef
          <div class="col-sm-12">5.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON6
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette3.wikia.nocookie.net/pokemon/images/4/44/167Spinarak_OS_anime.png/revision/latest?cb=20141031222227"
            alt="POKEMON6" width="100" height="100">
        </div>
        <div class="col-sm-6">Spinarak
          <div class="col-sm-12">10.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON7
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette.wikia.nocookie.net/es.pokemon/images/c/c0/Quilava_en_la_segunda_generaci%C3%B3n.png/revision/latest?cb=20091004135407"
            alt="POKEMON7" width="100" height="100">
        </div>
        <div class="col-sm-6">Quilava
          <div class="col-sm-12">7.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON8
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette.wikia.nocookie.net/es.pokemon/images/4/40/Meganium.png/revision/latest/scale-to-width-down/350?cb=20150214144709"
            alt="POKEMON8" width="100" height="100">
        </div>
        <div class="col-sm-6">Meganium
          <div class="col-sm-12">4.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12" class="centered">
    <br>
    <br>
    <button type="button" class="btn btn-success">Cargar más</button>
    <br>
    <br>
    <br>
  </div>
</div>
</body>
