<body class="container">
<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
    <img
      src="https://scontent.fuio2-1.fna.fbcdn.net/v/t1.0-9/36890864_2023880064348768_1598154453213511680_n.jpg?_nc_cat=0&oh=efc672e16401378675b9da0a6a121afe&oe=5BE47A76"
      class="rounded float-right" alt="..." width="30" height="30">
  </div>
  <div class="col-sm-2">Gabriela Cuascota</div>
  <div class="col-sm-1"></div>
  <div class="col-sm-12">
    <nav class="navbar navbar-dark bg-dark">
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <input type="search" class="form-control" placeholder="Busque por modelo papá o hijo" aria-label="Search">
      </form>
    </nav>
  </div>
  <div class="col-sm-12">
    <br>
    <h3>Modelos Papá</h3>
  </div>
  <div class="col-sm-12" class="centered">
    <button type="button" class="btn btn-success">Cargar más</button>
  </div>
  <div class="col-sm-12">
    <br>
    <br>
    <h3>Modelos Hijo</h3>
  </div>
  <div class="col-sm-12" class="centered">
    <button type="button" class="btn btn-success">Cargar más</button>
    <br>
    <br>
    <br>
  </div>

</div>
</body>

