<body class="container">
<br>
<br>
<div class="row">

  <div class="col-sm-5"></div>
  <div class="col-sm-2">
    <span class="glyphicon glyphicon-shopping-cart"></span>
  </div>
  <div class="col-sm-2">
    <img
      src="https://scontent.fuio2-1.fna.fbcdn.net/v/t1.0-9/36890864_2023880064348768_1598154453213511680_n.jpg?_nc_cat=0&oh=efc672e16401378675b9da0a6a121afe&oe=5BE47A76"
      class="rounded float-right" alt="..." width="30" height="30">
  </div>
  <div class="col-sm-2">Gabriela Cuascota</div>
  <div class="col-sm-1"></div>
  <div class="col-sm-12">
    <nav class="navbar navbar-dark bg-dark">
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <input type="search" class="form-control" placeholder="Busque por modelo papá o hijo" aria-label="Search">
      </form>
    </nav>
  </div>
  <div class="col-sm-12">
    <br>
    <h3>Modelos Papá</h3>
  </div>

  <div class="col-sm-4">ENTRENADOR1
    <a [routerLink]="['/modelopapa']">
      <div class="row">
        <div class="col-sm-6">Ash
        </div>
        <div class="col-sm-6">

          <img
            src="https://st-listas.20minutos.es/images/2013-09/369878/4189579_640px.jpg?1380311254"
            alt="ENTRENADOR1" width="100" height="100">

        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-4">ENTRENADOR2
    <a [routerLink]="['/modelopapa']">
      <div class="row">
        <div class="col-sm-6">Dans
        </div>
        <div class="col-sm-6">
          <img
            src="https://i.pinimg.com/originals/e8/ce/41/e8ce412d32528d02979d7b7fbdff4319.jpg"
            alt="ENTRENADOR2" width="100" height="100">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-4">ENTRENADOR3
    <a [routerLink]="['/modelopapa']">
      <div class="row">
        <div class="col-sm-6">Serena
        </div>
        <div class="col-sm-6">
          <img
            src="https://i.pinimg.com/originals/f4/9d/7d/f49d7d6e2d7ac60963cf945f5cab3f42.jpg"
            alt="ENTRENADOR3" width="100" height="100">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-4">ENTRENADOR4
    <a [routerLink]="['/modelopapa']">
      <div class="row">
        <div class="col-sm-6">Nanci
        </div>
        <div class="col-sm-6">
          <img
            src="https://vignette.wikia.nocookie.net/es.pokemon/images/e/ea/TA01_Nanci.png/revision/latest?cb=20150421001944"
            alt="ENTRENADOR4" width="100" height="100">
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-4">ENTRENADOR5</div>
  <div class="col-sm-4">ENTRENADOR6</div>


  <div class="col-sm-12" class="centered">
    <br>
    <br>
    <button type="button" class="btn btn-success">Cargar más</button>
  </div>
  <div class="col-sm-12">
    <br>
    <br>
    <h3>Modelos Hijo</h3>
  </div>
  <div class="col-sm-3">POKEMON1
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
            alt="POKEMON1" width="100" height="100">
        </div>
        <div class="col-sm-6">Bulbasaur
          <div class="col-sm-12">10.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON2
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette.wikia.nocookie.net/pokemon/images/9/95/Charmander-GO.png/revision/latest?cb=20160809154953"
            alt="POKEMON2" width="100" height="100">
        </div>
        <div class="col-sm-6">Charmander
          <div class="col-sm-12">5.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON3
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette.wikia.nocookie.net/nintendo-lastchance/images/1/15/SQUIRTLUSA.png/revision/latest?cb=20150607222430"
            alt="POKEMON3" width="100" height="100">
        </div>
        <div class="col-sm-6">Squirtle
          <div class="col-sm-12">6.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON4
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://pm1.narvii.com/6517/16b20f8a9cce0feab06248fee6c7d1199c38491c_hq.jpg"
            alt="POKEMON4" width="100" height="100">
        </div>
        <div class="col-sm-6">Chikorita
          <div class="col-sm-12">8.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON5
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://i.pinimg.com/originals/f5/1d/08/f51d08be05919290355ac004cdd5c2d6.png"
            alt="POKEMON5" width="100" height="100">
        </div>
        <div class="col-sm-6">Pikachu
          <div class="col-sm-12">10.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON6
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette3.wikia.nocookie.net/pokemon/images/4/44/167Spinarak_OS_anime.png/revision/latest?cb=20141031222227"
            alt="POKEMON6" width="100" height="100">
        </div>
        <div class="col-sm-6">Spinarak
          <div class="col-sm-12">6.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON7
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette.wikia.nocookie.net/es.pokemon/images/c/c0/Quilava_en_la_segunda_generaci%C3%B3n.png/revision/latest?cb=20091004135407"
            alt="POKEMON7" width="100" height="100">
        </div>
        <div class="col-sm-6">Quilava
          <div class="col-sm-12">3.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-3">POKEMON8
    <a [routerLink]="['/modelohijo']">
      <div class="row">
        <div class="col-sm-6">
          <img
            src="https://vignette.wikia.nocookie.net/es.pokemon/images/4/40/Meganium.png/revision/latest/scale-to-width-down/350?cb=20150214144709"
            alt="POKEMON8" width="100" height="100">
        </div>
        <div class="col-sm-6">Meganium
          <div class="col-sm-12">7.oo $</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12" class="centered">
    <br>
    <br>
    <button type="button" class="btn btn-success">Cargar más</button>
    <br>
    <br>
    <br>
  </div>

</div>
</body>

