<body class="container">
<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
    <img
      src="https://scontent.fuio2-1.fna.fbcdn.net/v/t1.0-9/36890864_2023880064348768_1598154453213511680_n.jpg?_nc_cat=0&oh=efc672e16401378675b9da0a6a121afe&oe=5BE47A76"
      class="rounded float-right" alt="..." width="30" height="30">
  </div>
  <div class="col-sm-2">Gabriela Cuascota</div>
  <div class="col-sm-12">
    <br>
    <h3>Datos de la cuenta: </h3>
  </div>
  <div class="col-sm-12" class="centered">
    <button type="button" class="btn btn-success">Completar la orden</button>
  </div>
  <div class="col-sm-12">
    <br>
    <h3>Datos de la facturación: </h3>
  </div>
  <div class="col-sm-12" class="centered">
    <button type="button" class="btn btn-success">Editar Datos de la Facturación</button>
  </div>


  <div class="col-sm-12">
    <br>
    <h6 class="text-right">TOTAL: </h6>
  </div>
</div>
</body>
