<body class="container">
<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
    <img
      src="https://scontent.fuio2-1.fna.fbcdn.net/v/t1.0-9/36890864_2023880064348768_1598154453213511680_n.jpg?_nc_cat=0&oh=efc672e16401378675b9da0a6a121afe&oe=5BE47A76"
      class="rounded float-right" alt="..." width="30" height="30">
  </div>
  <div class="col-sm-2">Gabriela Cuascota</div>
  <div class="col-sm-12">
    <br>
    <h3>Datos de la cuenta: </h3>
  </div>

  <div class="col-sm-2">Nombre:</div>
  <div class="col-sm-6">
    <input type="Nombre1" class="form-control" id="exampleInputNombre1" placeholder="Ingrese su Nombre">
  </div>
  <div class="col-sm-4"></div>

  <div class="col-sm-2">Apellido:</div>
  <div class="col-sm-6">
    <input type="Apellido2" class="form-control" id="exampleInputApellido2" placeholder="Ingrese su Apellido">
  </div>
  <div class="col-sm-4"></div>

  <div class="col-sm-2">E-mail:</div>
  <div class="col-sm-6">
    <input type="text" class="form-control" placeholder="e-mail@example.com" aria-label="Recipient's username"
           aria-describedby="basic-addon2">
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-12" class="centered">
    <br>
    <button type="button" class="btn btn-success">Completar la orden</button>
  </div>
  <div class="col-sm-12">
    <br>
    <h3>Datos de la facturación: </h3>
  </div>

  <div class="col-sm-2">Nombre:</div>
  <div class="col-sm-6">
    <input type="Nombre" class="form-control" id="exampleInputNombre" placeholder="Ingrese su Nombre">
  </div>
  <div class="col-sm-4"></div>

  <div class="col-sm-2">Apellido:</div>
  <div class="col-sm-6">
    <input type="Apellido" class="form-control" id="exampleInputApellido" placeholder="Ingrese su Apellido">
  </div>
  <div class="col-sm-4"></div>

  <div class="col-sm-2">E-mail:</div>
  <div class="col-sm-6">
    <input type="text" class="form-control" placeholder="e-mail@example.com" aria-label="Recipient's username"
           aria-describedby="basic-addon2">
  </div>
  <div class="col-sm-4"></div>


  <div class="col-sm-12" class="centered">
    <br>
    <button type="button" class="btn btn-warning">Editar Datos de la Facturación</button>
  </div>

  <div class="col-sm-12">
    <br>
    <div class="Panel-default">
      <div class="Panel-encabezamiento">
        <h3 class="Panel-title"> Contenido del Carrito: </h3>
      </div>
      <table class="mesa">
        <th> Pokemones</th>
        <th> Precio</th>
        <tr>
          <td> Pokemon1</td>
          <td> 2.00 $</td>
          <a [routerLink]="['/modelohijo']">
            <td>
              <button type="button" class="btn btn-success">Eliminar</button>
            </td>
          </a>
        </tr>
        <tr>
          <td> Pokemon2</td>
          <td> 4.00 $</td>
          <a [routerLink]="['/modelohijo']">
            <td>
              <button type="button" class="btn btn-success">Eliminar</button>
            </td>
          </a>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-12">
    <br>
    <h6 class="text-right">TOTAL: </h6>
  </div>
</div>
</body>
